body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.layout-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height */
}

.flx-header {
    background: #24292e;
    color: white;
    text-align: center;
    padding: 20px;
}

.flx-main-container {
    display: flex;
    flex: 1; 
    padding: 20px;
    gap: 20px;
    border: 5px solid black;
}

.flx-nav {
    width: 20%; 
    padding: 20px;
    background: #f6f8fa; 
    border: 2px solid grey;
    text-align: center;
}

.flx-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 50px;
    margin-top:0.5%;
}

.flx-article-section {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
}

.search-bar {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    font-size: 16px;
}

.card-container {
    display: flex;      /* Flexbox instead of Grid */
    flex-wrap: wrap;    /* Wrap items automatically */
    gap: 20px;          /* Space between boxes */
    justify-content: space-between;  /* Align to the left */
}

.flx-article-section1 {
    padding: 20px;
    border: 2px solid grey;
    background: #f1f1f1;
    text-align: center;
    border-radius: 10px;
    width: calc(33.333% - 14px); /* Equal width for 3 items in a row *//* Three boxes per row */
    box-sizing: border-box;
    gap:60px;
    height: 100px;
    justify-content: flex-end; 
}
.flx-article-section2{
    padding: 20px;
    border: 2px solid grey;
    background: #f1f1f1;
    text-align: center;
    border-radius: 10px;
    width: 100%; /* Equal width for 1 items in a row *//* Three boxes per row */
    box-sizing: border-box;
    gap:60px;
    height: 100px;
    margin-bottom: 0.5%;
   
    
    
}
.flx-footer {
    background: #24292e;
    color: white;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .flx-main-container {
        flex-direction: column;
    }

    .flx-nav {
        width: 100%;
    }

    .flx-content {
        width: 100%;
    }

    .flx-article-section1 {
        width: 100%; /* Full width in small screen */
    }
}
